<!doctype html>
<title>Application Webapp!</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<html>
<body>
<h2>--Application Webapp!--</h2>
{% if type == 'login' %}
<p>(To access privite content you need to log in)</p>
<form action='/login' method='POST'>
    <p>
        <input type='text' name='name' id='name' placeholder='name'/>
        <input type='password' name='password' id='password' placeholder='password'/>
    </p>
    <p><input type='submit' value='Login'/></p>
</form>

{% endif %}

{% if type == 'protected' %}
  <form action = "/logout" method = "GET">
     <p>You logged in as '{{ name }}'</p>
     <p><input type='submit' value='Logout'/></p>
  </form>

  <form action = "/files" method = "GET">
     <p>List files</p>
     <p><input type='submit' value='Show files'/></p>
  </form>     
       
  <form action = "/upload" method="POST" enctype="multipart/form-data">
     <p>Upload new file</p>
     <p><input type=file name=file></p>
     <p><input type=submit value=Upload></p> 
  </form>

{% endif %}

<div id="id_div_quote">
{% if quote  %}
    <p id="id_text_quote"> Quote of the day ": {{quote}}" </p>
{% endif %}
</div>

<div id="id_div_auth">
{% if auth  %}
    <p id="id_text_auth"> -- {{auth}} -- </p>
{% endif %}
</div>

<div id="id_div_msg">
{% if msg  %}
    <p id="id_text_msg"> message: {{msg}} </p>
{% endif %}
</div>

</body>
</html>
